{% extends 'base.html.twig' %}

{% block title %}Création de Manga{% endblock %}
{% block pageTitle %}Création de Manga{% endblock %}

{% block body %}
<form action="" method="POST">
    <div class="grid grid-cols-2 gap-2">
        <label for="name">
            Nom du manga :
        </label>
        <input class="border border-gray-700" type="text" name="name" id="name" value="{{ manga.name }}" />
        <label for="name">
            Mangaka :
        </label>
        <select class="border border-gray-700" name="mangaka" id="mangaka">
            <option value="" />
            {% for mangaka in mangakas %}
                <option value="{{ mangaka.id }}" {% if manga.mangaka.id == mangaka.id %} selected {% endif %}>{{ mangaka.name }}</option>
            {% endfor %}
        </select>
        <label for="description">
            Description :
        </label>
        <textarea class="border border-gray-700" name="description" id="description">{{ manga.description }}</textarea>
        <label for="nbTomes">
            Nombre de tomes :
        </label>
        <input class="border border-gray-700" type="number" step="1" min="1" name="nbTomes" id="nbTomes" value="{{ manga.nbTomes }}" />
        <div class="col-span-2 flex justify-around">
            <button class="border border-gray-700 rounded-md px-4 py-1" type="reset">Annuler</button>
            <button class="border border-gray-700 rounded-md px-4 py-1" type="submit">Enregistrer</button>
        </div>
    </div>

</form>
{% endblock %}
